<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>Elements</title>
    <link rel="stylesheet" type="text/css" href="css/style4.css" />
  </head>
  <body>
    <div class="main">
	  <div class="header">Шапка</div>
	  <div class="sidebar1">Сайдбар1</div>
	  <div class="sidebar2">Сайдбар2</div>
	  <div class="text">Основной текст

                    The Far File and Archive Manager
                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 Reporting Problems and Receiving Support
                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
By following these simple rules, you have the best chances of
getting your problem successfully solved.



      </div>	
	  <div class="clear"></div>
	</div>
	<div class="footer">Подвал</div>
  </body>
</html>